/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#content > .container {
    padding: 60px 15px 0;
}

code {
    font-size: 80%;
}

.footer {
    background-color: #f5f5f5;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}



/* landing page */

html, body {
  height: 100%;
}

.main-body {
	/*background-image: url(../images/main-background.jpg);*/
  background-image: url(../images/main-page-background.png);
	background-repeat: no-repeat;
  background-position: center right;
  background-size: 100%;
	/*background-size: 100% 100%;*/
}

.main-page-second-area {
	background: linear-gradient(to bottom, rgba(64, 0, 128, 0.6), 60px, #400080 60px, #ff99cc 100%);
	margin-top: -60px;
	color: white;
}

.main-page-second-area {
	background: linear-gradient(to bottom, rgba(64, 0, 128, 0.6), 60px, #400080 60px, #1b003d 100%);
	margin-top: -60px;
	color: white;
}

.main-page-lunarland-background {
	background-color: #0585b0; /* fallback */
	background-image: url(../images/main-page-lunarland.png), 
			linear-gradient(to bottom, #1b003d 0%, #000 60%, #000 70%);
    background-repeat: no-repeat;, no-repeat;
    background-position: left bottom, 0;
    background-size: 100% 300px, cover;
    color: white;
}

/* https://www.w3schools.com/howto/howto_css_parallax.asp */
.parallax { 
  /* The image used */
  background-image: url(../images/main-parallax-2.png);

  /* Set a specific height */
  height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-shadow {
	background-color: rgba(25, 0, 46, 0.7);
	color: white;
}

/* landing page */


/* wizard page */

.wizard-page-linear {
  background: linear-gradient(to bottom, #09001a, #1f224f);
}

.card-in-wizard > a > .card {
  margin: 10px 0;
  /*padding: 10px 0;*/
  background-color: #241e38;
  color: white;
}

.card-in-wizard > a > .card:hover {
  transform: scale(1.1);
  transition: all 0.7s ease-out;
}

/* wizard page  */



/* assemblance page */

.assemblance-page-linear {
  background: linear-gradient(to bottom, #010021, #180326);
}

.assemblance-page-linear-content {
  background: linear-gradient(to bottom, #180326, #023e66);
}

/* assemblance page */




/* operate-page-tabs */
.operate-page-tabs button {
  display: block;
  background-color: inherit;
  /*color: black;*/
  color: #8a8a8a;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.tablinks i {
  font-size: 26px;
  vertical-align: middle;
}

.operate-page-tabs button:hover {
  background-color: #ddd;
}

.operate-page-tabs button.active {
  background-color: #dbd1e6;
  border-left: 3px solid #45008f;
  color: black;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  background-color: #e7e6e8;
}

.tablinks {
  border: 1px solid red;
  background-color: white; 
  margin: 7px 0px;
  padding: 10px 5px;
}

/* operate-page-tabs */