.number-circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}

.button-step {

}

.button-step.collapsed {
    color: grey;
}

.option-label {
    height: 50px;
}

.relative-div {
    position: relative;
}

.relative-div img{
    max-height: 180px;
    max-width: 270px;
}

.space-proven {
    top: 80px;
    right: 5px;
    position: absolute;
    color: black;
    background-color: rgb(247, 208, 1);
    font-size: 100%;
}

.verified-compatible {
    top: 40px;
    right: 5px;
    position: absolute;
    font-size: 100%;
}


.card.narrow > .card-header {
    height: 30px;
    padding-top: 4px;
}

.card.narrow > .card-body {
    padding: 10px 10px 10px 20px;
}

.card.narrow > .card-body input {
    padding: 5px;
}

.card.narrow {
    margin-bottom: 10px;
}
